* {
  margin: 0;
  padding: 0;
}

.homepage {
  background-image: url("IMG/Background.png");
}

.anotherpage {
  background-image: url("IMG/PureBackground.png");
}

.logo {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 1.5%;
  left: 4%;
}

.auto-ipt {
  text-align: center;
  padding-top: 10px;
}

.header {
  margin-top: 1%;
  margin-left: 38%;
  width: 25%;
  height: 25%;
  text-align: center;
}

.title h1 {
  font-size: 3vw;
}

.paragraph {
  margin-left: 22%;
}

.fixed-p {
  position: absolute;
  margin-left: 25%;
}

.container {
  background-color: #faeaec;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 500px;
  margin: 3% auto 1% auto;
}

.ready-to-cook {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin: 5% 35%;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.ready-to-cook::after {
  content: "";
  background-color: #ffa07a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.ready-to-cook:hover::after {
  top: 0px;
  left: 0px;
}

.veg {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.meat {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.cookware {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.col-4 {
  margin: 1%;
  padding-top: 1%;
  font-family: cursive;
}

.veg-table {
  position: relative;
}

.veg-butn-on:first-child {
  margin-top: 1%;
  margin-left: 4.4%;
}

.veg-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #e9ffdb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #e9ffdb, -1px -1px 0 #e9ffdb, -1px 1px 0 #e9ffdb,
    1px -1px 0 #e9ffdb;
  transition: 500ms ease-in-out;
}

.veg-butn-on:hover {
  box-shadow: 10px 1px 0 #7cfc00, -10px -1px 0 #7cfc00;
}

.veg-butn-on:focus {
  outline: none;
}

.veg-butn:first-child {
  margin-top: 1%;
  margin-left: 7%;
}

.veg-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #e9ffdb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #e9ffdb, -1px -1px 0 #e9ffdb, -1px 1px 0 #e9ffdb,
    1px -1px 0 #e9ffdb;
  transition: 500ms ease-in-out;
}

.veg-butn:hover {
  box-shadow: 10px 1px 0 #7cfc00, -10px -1px 0 #7cfc00;
}

.veg-butn:focus {
  outline: none;
}

.meat-table {
  position: relative;
}

.meat-butn-on:first-child {
  margin-top: 1%;
  margin-left: 30%;
}

.meat-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #ffcccb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffcccb, -1px -1px 0 #ffcccb, -1px 1px 0 #ffcccb,
    1px -1px 0 #ffcccb;
  transition: 500ms ease-in-out;
}

.meat-butn-on:hover {
  box-shadow: 10px 1px 0 #fd5c63, -10px -1px 0 #fd5c63;
}

.meat-butn-on:focus {
  outline: none;
}

.meat-butn:first-child {
  margin-top: 1%;
  margin-left: 30%;
}

.meat-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #ffcccb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffcccb, -1px -1px 0 #ffcccb, -1px 1px 0 #ffcccb,
    1px -1px 0 #ffcccb;
  transition: 500ms ease-in-out;
}

.meat-butn:hover {
  box-shadow: 10px 1px 0 #fd5c63, -10px -1px 0 #fd5c63;
}

.meat-butn:focus {
  outline: none;
}

.cookware-table {
  position: relative;
}

.cookware-butn-on:first-child {
  margin-top: 1%;
  margin-left: 30%;
}

.cookware-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #f8f8ff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #f8f8ff, -1px -1px 0 #f8f8ff, -1px 1px 0 #f8f8ff,
    1px -1px 0 #f8f8ff;
  transition: 500ms ease-in-out;
}

.cookware-butn-on:hover {
  box-shadow: 10px 1px 0 #d3d3d3, -10px -1px 0 #d3d3d3;
}

.cookware-butn-on:focus {
  outline: none;
}

.cookware-butn:first-child {
  margin-top: 1%;
  margin-left: 30%;
}

.cookware-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #f8f8ff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #f8f8ff, -1px -1px 0 #f8f8ff, -1px 1px 0 #f8f8ff,
    1px -1px 0 #f8f8ff;
  transition: 500ms ease-in-out;
}

.cookware-butn:hover {
  box-shadow: 10px 1px 0 #d3d3d3, -10px -1px 0 #d3d3d3;
}

.cookware-butn:focus {
  outline: none;
}

.starch-butn {
  margin-top: 6%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px -1px 0 #ffffff;
  transition: 500ms ease-in-out;
}

.starch-butn:hover {
  box-shadow: 10px 1px 0 #ffffff, -10px -1px 0 #ffffff;
}

.dessert-butn {
  margin-top: 6%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #e29f6f;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #e29f6f, -1px -1px 0 #e29f6f, -1px 1px 0 #e29f6f,
    1px -1px 0 #e29f6f;
  transition: 500ms ease-in-out;
}

.dessert-butn:hover {
  box-shadow: 10px 1px 0 #e29f6f, -10px -1px 0 #e29f6f;
}

.cookware-butn:focus {
  outline: none;
}

#NavPanel {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #ffd9f2;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 100px 20px;
}

nav ul li {
  text-decoration: none;
  color: aqua;
}

.cart-icon {
  position: absolute;
  top: 90%;
  left: 95%;
  width: 100px;
  cursor: pointer;
}

#menuBotton {
  width: 70px;
  height: 70px;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 5px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBotton img {
  width: 75%;
  height: 75%;
  margin-top: 10%;
}

@media screen and (max-width: 770px) {
  .title h1 {
    font-size: 12px;
  }
}

#display img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  border: 1px solid black;
}

