* {
  margin: 0;
  padding: 0;
}

.homepage {
  background-image: url("IMG/Background.png");
}

.anotherpage {
  background-image: url("IMG/PureBackground.png");
}

.logo {
  max-width: 5%;
  max-height: 50%;
  width: auto;
  height: auto;
  position: fixed;
  top: 1%;
  left: 3%;
}

.auto-ipt {
  text-align: center;
  padding-top: 10px;
}

.header {
  margin-top: 1px;
  margin-left: 38%;
  width: 25%;
  height: 120px;
  text-align: center;
}

.title h1 {
  font-size: 3vw;
}

.paragraph {
  margin-left: 22%;
}

.fixed-p {
  position: absolute;
  margin-left: 25%;
}

.container {
  background-color: #faeaec;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 500px;
  margin: 3% auto 1% auto;
}

.ready-to-cook {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin: 5% 35%;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.ready-to-cook::after {
  content: "";
  background-color: #ffa07a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.ready-to-cook:hover::after {
  top: 0px;
  left: 0px;
}

.veg {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.meat {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.cookware {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.col-4 {
  margin: 1%;
  padding-top: 1%;
  font-family: cursive;
}

.veg-table {
  position: relative;
  max-width: 100%;
}

.veg-butn-on:first-child {
  margin-top: 1%;
  margin-left: 2%;
}

.veg-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #e9ffdb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #e9ffdb, -1px -1px 0 #e9ffdb, -1px 1px 0 #e9ffdb,
    1px -1px 0 #e9ffdb;
  transition: 500ms ease-in-out;
}

.veg-butn-on:hover {
  box-shadow: 7px 0px 0 #7cfc00, -7px 0px 0 #7cfc00;
}

.veg-butn-on:focus{
  outline-style: dotted;
  outline-color: #85f839;
  outline-width: 1.2em;
  background: #39f89f;
  
}

.veg-butn:first-child {
  margin-top: 1%;
  margin-left: 7%;
}

.veg-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #e9ffdb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #e9ffdb, -1px -1px 0 #e9ffdb, -1px 1px 0 #e9ffdb,
    1px -1px 0 #e9ffdb;
  transition: 700ms ease-in-out;
}

.veg-butn:hover  {
  box-shadow: 7px 0px 0 #7cfc00, -7px 0px 0 #7cfc00;
}

.veg-butn:focus  {
  outline-style: dotted;
  outline-color: #85f839;
  outline-width: 1.2em;
  background: #39f89f;
}


.meat-table {
  position: relatives;
  margin-left:  auto;
  margin-right:  auto;
}

.meat-butn-on:first-child {
  margin-top: 1%;
  margin-left: 27.5%;
}

.meat-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #ffcccb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffcccb, -1px -1px 0 #ffcccb, -1px 1px 0 #ffcccb,
    1px -1px 0 #ffcccb;
  transition: 500ms ease-in-out;
}

.meat-butn-on:hover {
  box-shadow: 7px 0px 0 #fd5c63, -7px 0px 0 #fd5c63;
}

.meat-butn-on:focus {
  outline-width: 1.2em;
  background: rgb(250, 115, 91);
 outline-style: dotted;
  outline-color: #fd5c63;
  outline-width: 1.2em;
}

.meat-butn:first-child {
  margin-top: 1%;
  margin-left: 30%;
}

.meat-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #ffcccb;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffcccb, -1px -1px 0 #ffcccb, -1px 1px 0 #ffcccb,
    1px -1px 0 #ffcccb;
  transition: 500ms ease-in-out;
}

.meat-butn:hover {
  box-shadow: 7px 0px 0 #fd5c63, -7px 0px 0 #fd5c63;
}

.meat-butn:focus {
  outline-width: 1.2em;
  background: rgb(250, 115, 91);
  outline-style: dotted;
  outline-color: #fd5c63;
  outline-width: 1.2em;
}

.cookware-table {
  position: relative;
}

.cookware-butn-on:first-child {
  margin-top: 1%;
  margin-left: 27.5%;
}

.cookware-butn-on {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #f8f8ff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #f8f8ff, -1px -1px 0 #f8f8ff, -1px 1px 0 #f8f8ff,
    1px -1px 0 #f8f8ff;
  transition: 500ms ease-in-out;
}

.cookware-butn-on:hover {
  box-shadow: 7px 0px 0 #d3d3d3, -7px 0px 0 #d3d3d3;
}

.cookware-butn-on:focus {
  outline-width: 1.2em;
  background: #eee9ee;
  outline-style: dotted;
  outline-color: #ffffff;
  outline-width: 1.2em;
}

.cookware-butn:first-child {
  margin-top: 1%;
  margin-left: 27.5%;
}

.cookware-butn {
  margin-left: 2%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #f8f8ff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #f8f8ff, -1px -1px 0 #f8f8ff, -1px 1px 0 #f8f8ff,
    1px -1px 0 #f8f8ff;
  transition: 500ms ease-in-out;
}

.cookware-butn:hover {
  box-shadow: 10px 1px 0 #d3d3d3, -10px -1px 0 #d3d3d3;
}

.cookware-butn:focus {
  outline-width: 1.2em;
  background: #eee9ee;
  outline-style: dotted;
  outline-color: #d3d3d3;
  outline-width: 1.2em;
}

.starch{
  margin-top: 6%;
}

.starch-butn {
  margin-top: 3%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  padding: 20px;
  font-weight: bold;
  color: black;
  background: #ffbf8b;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #ffbf8b, -1px -1px 0 #ffbf8b, -1px 1px 0 #ffbf8b,
    1px -1px 0 #ffbf8b;
  transition: 500ms ease-in-out;
}

.starch-butn:hover {
  box-shadow: 7px 0px 0 #fdaa4c, -7px 0px 0 #fdaa4c;
}

.starch-butn:focus {
  outline-width: 1.2em;
  background: #ffbf8b;
  outline-style: dotted;
  outline-color: #fdaa4c;
  outline-width: 1.2em;
}

.dessert{
  margin-top: 6%;
}
.dessert-butn {
  margin-top: 3%;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #fc9ec5;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #fc9ec5, -1px -1px 0 #fc9ec5, -1px 1px 0 #fc9ec5,
    1px -1px 0 #fc9ec5;
  transition: 500ms ease-in-out;
}

.dessert-butn:hover {
  box-shadow: 7px 0px 0 #f879e7, -7px 0px 0 #f879e7;
}

.dessert-butn:focus {
  outline-width: 1.2em;
  background: #fc9ec5;
  outline-style: dotted;
  outline-color: #e684f3;
  outline-width: 1.2em;
}

#clear-butn {
  margin-top: 1.5%;
  width: 120px;
  height: 20px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #d0fabd;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #cbffb3, -1px -1px 0 #cbffb3, -1px 1px 0 #cbffb3,
    1px -1px 0 #cbffb3;
  /*---border-image: linear-gradient(to right, rgb(255, 190, 250), rgb(185, 255, 245))1;--*/
  transition: 500ms ease-in-out;
}

#clear-butn:hover {
  box-shadow: 7px 0px 0 #96f3fa, -7px 0px 0 #96f3fa;
}

#clear-butn:focus {
  outline-width: 1.2em;
  background: #ffffff;
  outline-color: #ffffff;
  outline-width: 1.2em;
}

#NavPanel {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #ffd9f2;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 100px 20px;
}

nav ul li {
  text-decoration: none;
  color: aqua;
}

.cart-icon {
  position: absolute;
  top: 90%;
  left: 95%;
  width: 100px;
  cursor: pointer;
}

#menuBotton {
  width: 70px;
  height: 70px;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 5px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBotton img {
  width: 75%;
  height: 75%;
  margin-top: 10%;
}

@media screen and (max-width: 770px) {
  .title h1 {
    font-size: 12px;
  }
}

#display img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  border: 1px solid black;
}

.category-table{

  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  min-width: 400px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.category-table th:first-child, td:first-child {
  
  margin-left: 25px 0;
  font-size: 1.1em;
  min-width: 200px;
  text-align: center;
  padding: 12px 15px;
  font-family:cursive;
}

.category-table th:nth-child(2), td:nth-child(2) {
  white-space: pre-line;
  margin-left: 25px 0;
  font-size: 1em;
  min-width: 100px;
  text-align: left;
  padding: 12px 15px;
  font-family:cursive;
}
.category-table th:nth-child(3), td:nth-child(3) {
  
  margin-left: 25px 0;
  font-size: 0.9em;
  min-width: 150px;
  text-align: center;
  padding: 12px 15px;
  font-family:cursive;
}
.category-table th:nth-child(4), td:nth-child(4) {
  
  margin-left: 25px 0;
  font-size: 0.9em;
  min-width: 00px;
  text-align: center;
  padding: 12px 15px;
  font-family:cursive;
}
.category-table th:nth-child(5), td:nth-child(5) {
  
  margin-left: 25px 0;
  font-size: 0.9em;
  min-width: 300px;
  text-align: center;
  padding: 12px 15px;
  font-family:cursive;
}

.category-table#vegT thead tr{
  background-color: #009879;
  color:#ffffff;
  font-weight: bold;
}

.category-table#meatT thead tr{
  background-color: #ff7f85;
  color:#ffffff;
  font-weight: bold;
}

.category-table#cookwareT thead tr{
  background-color: #808080;
  color:#ffffff;
  font-weight: bold;
}

.category-table thead th {
  border-bottom: 5px solid #f3ecec;;
}

.category-table tbody td {
  border-bottom: 1px solid #d1cccc;
}

.category-table tbody td {
  border-bottom: 1px solid #d1cccc;
}

.category-table tbody tr:nth-of-type(even) td{
  background-color: #f3f3f3;
}

.category-table#vegT tbody tr:last-of-type td{
  border-bottom: 9px solid #009879;
}

.category-table#meatT tbody tr:last-of-type td{
  border-bottom: 9px solid #ff7f85;
}

.category-table#cookwareT tbody tr:last-of-type td{
  border-bottom: 9px solid #808080;
}

.category-table::after thead tr{
  background-color: #980026;
  color:#ffffff;
  font-weight: bold;
}


/* CHOICE1-3 hide other choice */
#choice1{
  display:none;
}

#choice2{
  display:none;
}
#choice3{
  display:none;
}

.select{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 300px;
  gap: 1px;
  margin-left: auto;
  margin-right: auto;
}

.select__item--selected{
  background-color: #009879;
  color:#ffffff;
}


.hide {
  display: none;
  overflow: hidden;
}

/* Style the buttons */

.filterBtn{
  display: none;
}

.filterBtn.show{
  width: 120px;
  height: 25px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background: #f8f8ff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 0 #f8f8ff, -1px -1px 0 #f8f8ff, -1px 1px 0 #f8f8ff,
    1px -1px 0 #f8f8ff;
  transition: 500ms ease-in-out;
  display: inline;
  overflow: hidden;
}


.filterBtn:hover {
  background-color: rgb(82, 252, 181);
}

.filterBtn.on {
  background-color: #666;
  color: rgb(172, 207, 13);
}

#thumbnail{
  margin-top: 30px;
  margin-left: 90px;
  width: 384px;
  height: 216px;
  border: 8px solid;
  border-image: linear-gradient(to right, rgb(255, 190, 250), rgb(185, 255, 245))1;
}

#ingredient{
  float:left;
}

.title{
  font-size: 3em;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: padding-box;
  -webkit-background-clip: text;
}

#instruction{
  float:right;
  text-align: right;
}
