* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 7%;
  height: 7%;
  position: absolute;
  top: 1%;
  left: 7%;
}

.title {
  text-align: center;
  padding-top: 10px;
}

.title h1 {
  font-size: 3vw;
}

.veg {
  text-align: center;
  padding-top: 3%;
  font-family: cursive;
}

.meat {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.cookware {
  text-align: center;
  padding-top: 1%;
  font-family: cursive;
}

.col-4 {
  margin: 1%;
  padding-top: 1%;
  font-family: cursive;
}

.veg-butn {
  text-align: center;
  margin: 10px auto 0;
}

.veg-butn button {
  width: 150px;
  text-decoration: none;
  margin: 0 5px;
  padding: 6px 0;
  background-color: #86efca33;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(85, 254, 0);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.8s;
}

.veg-butn button:hover {
  color: rgb(255, 0, 0);
}

.meat-butn {
  text-align: center;
  margin: 10px auto 0;
}

.meat-butn button {
  width: 150px;
  text-decoration: none;
  margin: 0 5px;
  padding: 6px 0;
  background-color: #86efca33;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(85, 254, 0);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.8s;
}

.meat-butn button:hover {
  color: #991b1b;
}

.cookware-butn {
  text-align: center;
  margin: 10px auto 0;
}

.cookware-butn button {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  padding: 6px 0;
  background-color: #86efca33;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(85, 254, 0);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.8s;
}

.cookware-butn button:hover {
  color: #854d0e;
}

#NavPanel {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #07d6f6;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 100px 20px;
}

nav ul li {
  text-decoration: none;
  color: aqua;
}

.cart-icon {
  position: absolute;
  top: 90%;
  left: 95%;
  width: 100px;
  cursor: pointer;
}

#menuBotton {
  width: 50px;
  height: 50px;
  background: #07d6f6;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 5px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBotton img {
  width: 75%;
  height: 75%;
  margin-top: 10%;
}
@media screen and (max-width: 770px) {
  .title h1 {
    font-size: 12px;
  }
}
